[submodule "sources/vue"]
	path = sources/vue
	url = https://github.com/vuejs/docs
[submodule "sources/pinia"]
	path = sources/pinia
	url = https://github.com/vuejs/pinia
[submodule "vendor/vuejs-ai"]
	path = vendor/vuejs-ai
	url = https://github.com/vuejs-ai/skills
[submodule "vendor/web-design-guidelines"]
	path = vendor/web-design-guidelines
	url = https://github.com/vercel-labs/agent-skills
[submodule "vendor/slidev"]
	path = vendor/slidev
	url = https://github.com/slidevjs/slidev
[submodule "vendor/vueuse"]
	path = vendor/vueuse
	url = https://github.com/vueuse/vueuse
[submodule "vendor/tsdown"]
	path = vendor/tsdown
	url = https://github.com/rolldown/tsdown
[submodule "vendor/turborepo"]
	path = vendor/turborepo
	url = https://github.com/vercel/turborepo
[submodule "vendor/next-skills"]
	path = vendor/next-skills
	url = https://github.com/vercel-labs/next-skills
[submodule "vendor/shacdn-ui"]
	path = vendor/shacdn-ui
	url = https://github.com/shadcn-ui/ui
[submodule "vendor/anthropics"]
	path = vendor/anthropics
	url = https://github.com/anthropics/skills
[submodule "vendor/awesome-copilot"]
	path = vendor/awesome-copilot
	url = https://github.com/github/awesome-copilot
[submodule "sources/deepinfra"]
	path = sources/deepinfra
	url = https://github.com/deepinfra/docs
